{% extends "base.html" %}

{% block main %}
<div class="container">
        <h1>GCP IAM Role Reference</h1>

        <p>Welcome to an improved and easier to use Google Cloud Platform IAM role search page. Instead of the annoying formatting and poorly performing iFrame of the official GCP docs, you can just search through text like a grown up.</p>

        <ul>
            <li>The roles are pulled automatically from the gcloud CLI and refreshed periodically</li>
            <li>You are welcome to check out the source here:  <a href="https://gitlab.com/matdevdug/gcp-iam-reference">Gitlab</a> </li>
            <li>Have a problem or want to contact me? <a href="https://c.im/@matdevdug">Mastodon</a></li>
            <li>Last Updated: June 6th 2024</li>
        </ul>
<p>2024 No Rights Reserved Go Nuts</p>
    </div>

{% endblock %}
